[Desktop Entry]
Encoding=UTF-8
Name=BS-Qt Unit test
Comment=BS P2P gaming related cryptocurrency - UNITTEST
Comment[fr]=BS unittest, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BS unittest, eşten eşe kriptografik sanal para birimi
Exec=BS-qt --unittest %u
Terminal=false
Type=Application
Icon=BS128-unittest
MimeType=x-scheme-handler/BS;
Categories=Office;Finance;
