[Desktop Entry]
Encoding=UTF-8
Name=BS-Qt Regtest
Comment=BS P2P gaming related cryptocurrency - REGTEST
Comment[fr]=BS regtest, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BS regtest, eşten eşe kriptografik sanal para birimi
Exec=BS-qt --regtest %u
Terminal=false
Type=Application
Icon=BS128-regtest
MimeType=x-scheme-handler/BS;
Categories=Office;Finance;
