[Desktop Entry]
Encoding=UTF-8
Name=BS-Qt Testnet (Reindex)
Comment=BS P2P gaming related cryptocurrency - TESTNETWORK
Comment[fr]=BS testnet, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BS testnet, eşten eşe kriptografik sanal para birimi
Exec=BS-qt --testnet --reindex %u
Terminal=false
Type=Application
Icon=BS128-testnet
MimeType=x-scheme-handler/BS;
Categories=Office;Finance;
